<h1>Add a new task</h1>
<form action="/task/add" method="post">
  <label for="description">Task description:</label>
  <input id="description" name="description" type="text">
  <label for="date">Date (YYYY/MM/DD)</label>
  <input type="date" name="date" id="date">
  <button type="submit">Add new task</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/tasks">View all tasks</a></p>
